<div class="container-fluid">
  <i class="fa fa-info fa-2x" data-toggle="modal" data-target="#aboutModal"></i>
  <div class="jumbotron">
    <h1><center>College Cost Comparator</h1>
    <h3><center>Discover your average cost, debt, and earnings from schools nationwide!</h3>
  </div>
<div class="row">
  <div class=search-form>
    <%= form_tag(schools_user_input_path, method: :get, role: "user_input") do %>
      <h4> Choose your annual family income level: </h4>
        <input id="low_income" name="inc" type="radio" value="low" />
        <label for="low_income">Low-Income ($0-48k)</label>
      <br>
        <input id="mid_income" name="inc" type="radio" value="mid" />
        <label for="mid_income">Mid-Income ($30-75k)</label>
      <br>
        <input id="high_income" name="inc" type="radio" value="high" />
        <label for="high_income">High-Income ($75k+)</label>
      <br>
        <input checked="checked" id="avg_income" name="inc" type="radio" value="avg" />
        <label for="avg_income">Don't know/Prefer not to answer</label>
      <br>
      <input name="school-ids" id="school-ids" type="hidden" value="" />
      <br>
        <input id="two_year" name="years" type="radio" value="2" />
        <label for="two_year">Two-Year Schools</label>
        <input checked="checked" id="four_year" name="years" type="radio" value="4" />
        <label for="four_year">Four-Year Schools</label>
  <section class="app-content">
    <div class="school-search">
      <input type="text" id="school-search-txt" autofocus>
      <div class="results" id="school-search-results"></div>
    </div>
    <div id="selected-schools">
      <h4>Selected schools:</h4>
    </div>
  </section>
      <%= button_tag "Submit", class: "user-input btn btn-default" %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    new app.Schools;
  });
</script>


<div class="row">
  <div class="col-md-4">
    <%= button_tag "Start Over", class: "start-over btn btn-primary" %>
  </div>
</div>
<div class="row">
  <svg class="bar-chart col-xs-12"></svg>
</div>
<div id="tooltip" class="hidden">
  <p><span id="value"></span></p>
</div>
<div class="row">
  <svg class="cyl-chart col-xs-12"></svg>
</div>

<!-- Modal -->
  <div class="modal fade" id="aboutModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h4 class="modal-title">About this Project</h4>
        </div>
        <div class="modal-body">
          <p>I am information about this project, including links and methodology.</p>
        </div>
      </div>
    </div>
  </div>
</div>
