<div class="container-fluid">
  <h1>Show me the money $$$</h1>
  <div class="col-md-2">
    <%= button_tag "Get Schools", class: "school-select" %>
  </div>
  <div class="chart-space">
    <svg class="bar-chart col-md-8"></svg>
  </div>
</div>
