/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui/tooltip
 *= require jquery-ui/autocomplete
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

body {
  background-color:rgb(222, 220, 211);
  font-family: 'Ubuntu', sans-serif;
}
// #E9DDC6 is school background image color
// #E1DFD6 is paper
.page-header {
  background: image-url("paper.png");
  margin-top: -10px;
  margin-left: -10px;
  margin-right: -10px;
  // background-color: rgba(89, 221, 98, .8);
}

.fa-info {
  padding-top: 15px;
  padding-left: 25px;
}
.fa-info:hover {
  color: #00FF11;
}
