// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

svg {
  padding: 10px;
  display: block;
  width: 75%;
  max-width: 1000px;
  margin: 0 auto;
  cursor: pointer;
}

#switch-buttons {
margin: 25px;
}

#switch-buttons p{
  font-style: italic;
  font-size: 16px;
}
.bar-chart {
  margin-left: 10px;
}

.earn-bar:hover {
  fill: #00FF11;
}

.price-bar:hover {
  fill: #0066FF;
}

.loan-bar:hover {
  fill: #FF1A1A;
}

.bar-chart text {
  fill: #000;
  font: 1em sans-serif;
  text-anchor: end;
}

.fa {
  cursor: pointer;
}

.fa-sort {
  padding-left: 10px;
  font-size: 24px;
}

.fa:hover {
  color: #0066FF;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Ubuntu', sans-serif;
}

.svg text {
  fill: black;
  font-weight: bold;
}

.cyl-chart {
  padding-top: 30px;
}

#tooltip {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 20px;
}

#tooltip hr {
  border-style: solid;
  border-color: black;
}

 text#earnings-loans, text#earnings {
  font-size: .5em;
  font-weight: bold;
}

#back-to-top  {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.title-text {
  margin-left: 15px;
}
