// Place all the styles related to the schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.school-search input {
  width: 60%;
  font-size: 1em;
  padding: .5em 1.3em;
  margin-bottom: 10px;
  // background: transparent;
  border: 1px solid #ddd;
  border-radius: 2em;
}

.school-search input:focus {
  border-color: #A5CEF5;
}

label {
  margin-right: 15px;
}

.search-form {
  margin-left: 15px;
  font-size: 1.1em;
}

.search-form h4 {
  font-size: 1.2em;
}

.no-data {
  font-style: italic;
}

.school-search .results .ui-widget-content {
  background: #fff;
  font-size: 1em;
  padding: .5em 0;
  border-color: #ddd;
  box-shadow: 0 .1em .2em rgba(187, 187, 187, 0.64);
  line-height: 1.2;
  max-height: 20em;
  overflow: hidden;
  overflow-y: auto;
}

.school-search .results .ui-menu-item {
  padding: .4em .6em .4em 6.2em;
  position: relative;
  border: 0;
  border-left: 5px solid transparent;
  position: relative;
  height: 6em;
}

.school-search .results .ui-state-focus {
  background: #fff;
  border-left-color: #08c;
  font-weight: 400;
}

.school-search .results .ui-menu-item .name {
  display: block;
  color: #555;
}

.school-search .results .ui-menu-item .state {
  display: block;
  font-size: 1em;
  color: #aaa;
  margin-top: .6em;
  letter-spacing: 1px;
}

.school-search .results .ui-state-focus .name,
.school-search .results .ui-state-focus .state {
  color: #08c;
}

div#selected-schools {
  padding-bottom: 10px;
}

div#selected-schools h4{
  font-weight: bold;
}

@keyframes pop {
 0% {
   transform: scale(0);
 }
 50% {
   transform: scale(2);
 }
 100% {
   transform: scale(1);
 }
}

li.popper {
  animation: pop .5s ease-in;
  list-style-type: none;
}

//not implemented yet
// i.fa-times::before {
//   padding-right: 10px;
// }
