<!DOCTYPE html>
<html>
<head>
  <title>CollegeTalkmoney</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="/js/jquery.tokenize.js"></script>
  <link rel="stylesheet" type="text/css" href="/js/jquery.tokenize.css" />
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
